////
/// All printing tokens
/// Note: This file should never be @import'd within another Sass file. Inclusion
/// within a Webpack JS file (`import '~tokens/sass/tokens.scss';`) is fine, as
/// Webpack will prevent multiple output.
////

@use 'sass:map';

// Particle utils
@use 'utils';

////
/// Library printing
////

@use 'libraries/bootstrap';

////
/// Root vars
////

// Assign breakpoints to --variable at root for reference by Enquire breakpoints.
:root {
  --breakpoints: #{map.keys(utils.$bs-grid-breakpoints)};
}

////
/// Font face
////

// Example: Google Remote Fonts
// Serif - Google Fonts - Oswald
// Sans-Serif - Google Fonts - Open Sans
// Monospace - Google Fonts - Source Code Pro
//@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Source+Code+Pro&display=swap);

// Example: Adobe Typekit. y0urh45h will need to be updated with your own key.
// For more information on how to create your own kit and generate your
// own key visit https://helpx.adobe.com/in/fonts/using/add-fonts-website.html
//@import url('https://use.typekit.net/y0urh45h.css');

// Example: local fonts
//@font-face {
//  font-family: 'Oswald';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Oswald Regular'), local('Oswald-Regular'), url(../fonts/Oswald-Medium.ttf) format('truetype');
//  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
//}


@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=b7e8a78d-4f32-4bf1-9c64-cd157a7f9caa");




@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/2e3f5cb9-101f-46cf-a7b3-dfaa58261e03.woff2) format('woff2'),
    url(../fonts/avenirNext/fa19948e-5e38-4909-b31e-41acd170d6f2.woff) format('woff');
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/1c6c1881-23c9-4d6a-a018-759d1c9ded15.woff2) format('woff2'),
    url(../fonts/avenirNext/f0d655c5-a88a-49ad-bb29-f3b5cca41731.woff) format('woff');
  font-weight: 250;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/64779e28-a3b8-4364-949c-771372a0a327.woff2) format('woff2'),
    url(../fonts/avenirNext/c6c8e4be-17eb-4475-bbfc-bb485ffde766.woff) format('woff');
  font-weight: 275;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/ec2dd1bd-4391-4b89-bf85-1a2346ea4342.woff2) format('woff2'),
    url(../fonts/avenirNext/fcf6f211-efa2-40f6-9c6b-e0ca63b6ea60.woff) format('woff');
  font-weight: 275;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/49c5f3e1-5867-4b1d-a843-2d07fa60d85d.woff2) format('woff2'),
    url(../fonts/avenirNext/f401df6f-54eb-406c-b46a-90b9451c598d.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/62e28d52-436d-40b8-a5f0-00479f3f44ed.woff2) format('woff2'),
    url(../fonts/avenirNext/5b8c6fdc-0ba4-4b65-87e4-d5ae51245ea5.woff) format('woff');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2) format('woff2'),
    url(../fonts/avenirNext/1e9892c0-6927-4412-9874-1b82801ba47a.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2) format('woff2'),
    url(../fonts/avenirNext/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2) format('woff2'),
    url(../fonts/avenirNext/f26faddb-86cc-4477-a253-1e1287684336.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/3f380a53-50ea-4a62-95c5-d5d8dba03ab8.woff2) format('woff2'),
    url(../fonts/avenirNext/8344e877-560d-44d4-82eb-9822766676f9.woff) format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2) format('woff2'),
    url(../fonts/avenirNext/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/687932cb-145b-4690-a21d-ed1243db9e36.woff2) format('woff2'),
    url(../fonts/avenirNext/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff) format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/14c73713-e4df-4dba-933b-057feeac8dd1.woff2) format('woff2'),
    url(../fonts/avenirNext/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/eaafcb26-9296-4a57-83e4-4243abc03db7.woff2) format('woff2'),
    url(../fonts/avenirNext/25e83bf5-47e3-4da7-98b1-755efffb0089.woff) format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/5c57b2e2-f641-421e-a95f-65fcb47e409a.woff2) format('woff2'),
    url(../fonts/avenirNext/181c847e-cdbc-43d5-ae14-03a81c8953b4.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/avenirNext/71b9791b-4350-4b52-8b43-c03b82004511.woff2) format('woff2'),
    url(../fonts/avenirNext/8c17992f-c017-49e0-b573-779f62016f06.woff) format('woff');
  font-weight: 900;
  font-style: italic;
}




@font-face {
  font-family: 'LiberatorLight';
  src: url(../fonts/Liberator-Light.woff2) format('woff2'),
    url(../fonts/Liberator-Light.woff) format('woff'),
    url(../fonts/Liberator-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'LiberatorMedium';
  src: url(../fonts/Liberator-Medium.woff2) format('woff2'),
    url(../fonts/Liberator-Medium.woff) format('woff'),
    url(../fonts/Liberator-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'LiberatorHeavy';
  src: url(../fonts/Liberator-Heavy.woff2) format('woff2'),
    url(../fonts/Liberator-Heavy.woff) format('woff'),
    url(../fonts/Liberator-Heavy.ttf) format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'HoeflerText-Regular';
  src: url(../fonts/HoeflerText-Regular.woff2) format('woff2'),
    url(../fonts/HoeflerText-Regular.woff) format('woff'),
    url(../fonts/HoeflerText-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'HoeflerText-Black';
  src: url(../fonts/HoeflerText-Black.woff2) format('woff2'),
    url(../fonts/HoeflerText-Black.woff) format('woff'),
    url(../fonts/HoeflerText-Black.ttf) format('truetype');
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: 'HoeflerText-Italic';
  src: url(../fonts/HoeflerText-Italic.woff2) format('woff2'),
    url(../fonts/HoeflerText-Italic.woff) format('woff'),
    url(../fonts/HoeflerText-Italic.ttf) format('truetype');
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: 'HoeflerText-BlackItalic';
  src: url(../fonts/HoeflerText-BlackItalic.woff2) format('woff2'),
    url(../fonts/HoeflerText-BlackItalic.woff) format('woff'),
    url(../fonts/HoeflerText-BlackItalic.ttf) format('truetype');
  font-weight: bold;
  font-style: italic
}



////
/// Elements
////

// All misc elements styles go here
